/* box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* margin / padding */
* {
  margin: 0;
  padding: 0;
}

/* html / body */
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* media */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* form */
input,
button,
textarea,
select {
  font: inherit;
}

/* button */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* list */
ul,
ol {
  list-style: none;
}

/* link */
a {
  text-decoration: none;
  color: inherit;
}

.container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 4px;
  padding: 8px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header time {
  font-weight: 500;
}

footer {
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  aspect-ratio: 1;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  cursor: pointer;
}

.win {
  color: rgb(6, 160, 190);
}

.reset {
  background-color: rgb(6, 160, 190);
  color: white;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.cell:nth-child(-n + 3) {
  border-top: none;
}

.cell:nth-child(n + 7) {
  border-bottom: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n) {
  border-right: none;
}
